@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-serif: 'Playfair Display', ui-serif, Georgia, Cambria,
    'Times New Roman', Times, serif;
  --font-sans: 'Josefin Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
