name: Check version

on:
  pull_request:
    types: [synchronize, opened, reopened]
    paths-ignore:
      - ".github/workflows/**"
      - "renovate.json"

permissions:
  contents: write

jobs:
  bump_version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"

      - name: Set git user
        run: |
          git config --global user.name "SamNewhouse"
          git config --global user.email "hello@samnewhouse.co.uk"

      - name: Bump package.json version if unchanged from master
        uses: phips28/gh-action-bump-version@v11.0.7
        with:
          commit-user: "SamNewhouse <hello@samnewhouse.co.uk>"
          tag-prefix: ""
          minor-wording: ""
          major-wording: ""
          patch-wording: ""
          default: "patch"
          skip-tag: true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Success
        run: echo "Version bump completed successfully."

      - name: Failure
        if: failure()
        run: echo "Version bump workflow failed."
