name: Check version

on:
  pull_request:
    types: [synchronize, opened, reopened]
    paths-ignore:
      - ".github/workflows/**"
      - "renovate.json"

permissions:
  contents: write

jobs:
  check_version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"

      - name: Set git user
        run: |
          git config --global user.name "SamNewhouse"
          git config --global user.email "hello@samnewhouse.co.uk"

      - name: Get master version and compare
        run: |
          git fetch origin master
          MASTER_VERSION=$(jq -r .version <(git show origin/master:package.json))
          BRANCH_VERSION=$(jq -r .version package.json)
          echo "MASTER_VERSION=$MASTER_VERSION" >> $GITHUB_ENV
          echo "BRANCH_VERSION=$BRANCH_VERSION" >> $GITHUB_ENV

      - name: Rebase branch before bump-version
        if: env.BRANCH_VERSION == env.MASTER_VERSION
        run: |
          git pull --rebase origin ${{ github.head_ref }}

      - name: Conditionally bump version ONLY IF branch == master
        if: env.BRANCH_VERSION == env.MASTER_VERSION
        uses: phips28/gh-action-bump-version@v11.1.1
        with:
          commit-user: "SamNewhouse <hello@samnewhouse.co.uk>"
          commit-message: "v{{version}}"
          tag-prefix: ""
          skip-tag: true
          default: "patch"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Success
        run: echo "Version check completed successfully."

      - name: Failure
        if: failure()
        run: echo "Version check workflow failed."
